{{extend 'sitsilayout.html'}}


<div class="container_12 middle">
	<div class="grid_12">
		<h2>Sitsijuhlien Älykäs Optimointipalvelu, jotta helan går ja alla får!</h2>
	</div>
	<div class="clear"></div>
</div>

<div class="container_12 content">
	<div class="grid_4">
		<h2>Palvelu</h2>
		<p>Sitsit.fi tarjoaa perinteisten sitsijuhlien apuun palvelua jolla maksimoit jokaisen sitsin järjestäminen on helppoa ja voit keskittyä itse sitseihin. </p>
		<p>Tiimin toteuttaa Aalto-yliopiston opiskelijat</p>
		<p>Tiimiin saat parhaiten yhteyden <a href="http://www.facebook.com/pages/sitsitfi/156410581055131">Facebook-sivumme</a> kautta</p>
	</div>
	<div class="grid_4">
		<h2>Tulevia sitsejä</h2>
		{{for i,party in enumerate(parties):}}
			<p>{{=(i+1)}}: <a href="{{=URL('default','sitsit',args=party.id)}}">{{=party.name}}</a> paikassa {{=party.place}}</p>
		{{pass}}
		<p><a href="{{=URL('default','sitsit')}}">Lisää bileet</a></p>
	</div>
	<div class="grid_4">
		<p><iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2Fsitsitfi%2F156410581055131&amp;width=300&amp;connections=5&amp;stream=true&amp;header=true&amp;height=250" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:250px;" allowTransparency="true"></iframe></p>
		<p>Voit myös seurata meitä Twitterissä: <a href="http://twitter.com/sitsiparty">www.twitter.com/sitsiparty</a>.
	</div>
	<div class="clear"></div>
</div>
